# RED Hydrogen One recovery initialization
on early-init
    mkdir /firmware 0771 system system
    mkdir /bt_firmware 0771 system system
    mkdir /dsp 0771 system system
    mkdir /persist 0771 system system

on init
    write /sys/class/backlight/panel0-backlight/brightness 200

on fs
    wait /dev/block/platform/soc/1da4000.ufshc
    symlink /dev/block/platform/soc/1da4000.ufshc /dev/block/bootdevice
    export ANDROID_ROOT /system_root
