# Curated from RED .109 ueventd.rc for Android 15.
/dev/diag                 0660   system     system
/dev/wlan                 0660   wifi       wifi
/dev/kgsl                 0666   system     system
/dev/kgsl-3d0             0666   system     system
/dev/smd7                 0660   bluetooth  bluetooth
/dev/ipa                  0660   radio      radio
/dev/wwan_ioctl           0660   radio      radio
/dev/ipaNatTable          0660   radio      radio
/dev/rmnet_ctrl           0660   usb        usb
/dev/dpl_ctrl             0660   usb        usb
/dev/smd2                 0660   bluetooth  bluetooth
/dev/smd3                 0660   bluetooth  bluetooth
/dev/btpower              0660   bluetooth  system
/dev/video*               0660   system     camera
/dev/media*               0660   system     camera
/dev/v4l-subdev*          0660   system     camera
/dev/msm_camera/*         0660   system     camera
/dev/qseecom              0660   system     drmrpc
/dev/wcnss_wlan           0660   system     system
/dev/hbtp_input           0660   system     system
/dev/jpeg*                0660   system     camera
/dev/gemini*              0660   system     camera
/dev/mercury*             0660   system     camera
