# RED Hydrogen One recovery device-node permissions
/dev/block/platform/soc/1da4000.ufshc/by-name/*  0660  root  disk
/dev/input/event*                                 0660  root  input
/dev/graphics/fb0                                 0660  root  graphics
/dev/fb0                                          0660  root  graphics
/dev/dri/card0                                    0660  root  graphics
/dev/dri/renderD128                               0660  root  graphics
/dev/ion                                          0660  root  system
/dev/kgsl-3d0                                     0660  root  graphics
/dev/uinput                                       0660  root  input
/dev/diag                                         0660  root  system
